<div class="bg-header d-flex p-3">
  <a class="d-flex align-items-center" aria-label="Home" title="Home">
    <img height="48" width="48" alt="Equation Editor" src="assets/images/calculating.svg"/>
  </a>
  <h3 class="d-flex align-items-center align-content-center fw-lighter me-auto my-auto ms-3">
    <span>
      <div><b class="h4 m-0 p-0 fw-bolder">Equation Editor</b></div>
      <div class="h6 m-0 p-0 fw-light">Copyright © 2021 José Hernández</div>
    </span>
  </h3>
  <a class="d-flex align-items-center pe-2" aria-label="Equation editor project on GitHub"
     title="Equation editor project on GitHub"
     href="https://github.com/doraemoncito/equation-editor">
    <img height="48" width="48" alt="Equation Editor" src="assets/images/github.svg"/>
  </a>
</div>
